@import "../../styles/variables.scss";

.button {
  padding: $btn-size;
  border-radius: $btn-radius;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  transition: $btn-transition;
  display: flex;
  align-items: center;
  column-gap: 10px;
  box-shadow: $default-btn-shadow;

  //variants
  &--default {
    box-shadow: $default-btn-shadow;
    font-size: $btn-font-size;

    &:hover {
      background-color: $default-btn-hover;
    }
  }

  &--outline {
    background-color: $outline-btn-background;
    border: $outline-btn-border;
    color: $outline-btn-font-color;
    box-shadow: none;

    &:hover {
      background-color: $outline-btn-hover;
    }
  }

  &--text {
    background-color: $text-btn-background;
    color: $text-btn-font-color;
    box-shadow: none;

    &:hover {
      background-color: $text-btn-hover;
    }
  }

  //sizes
  &--sm {
    padding: $small-btn-size;
  }

  &--md {
    padding: $medium-btn-size;
  }

  &--lg {
    padding: $large-btn-size;
  }

  //color
  &--primary {
    background-color: $primary-color;
    color: $primary-font-color;
    box-shadow: $primary-shadow;

    &:hover {
      background-color: $primary-hover-color;
    }
  }

  &--secondary {
    background-color: $secondary-color;
    color: $secondary-font-color;
    box-shadow: $secondary-shadow;

    &:hover {
      background-color: $secondary-hover-color;
    }
  }

  &--danger {
    background-color: $danger-color;
    color: $danger-font-color;
    box-shadow: $danger-shadow;

    &:hover {
      background-color: $danger-hover-color;
    }
  }

  //with icons
  &--left-icon {
    box-shadow: $icon-button-shadow;
  }

  &--right-icon {
    flex-direction: row-reverse;
    box-shadow: $icon-button-shadow;
  }

  &--shadow-off {
    box-shadow: none;
  }

  &--disabled {
    background-color: $default-btn-background;
    box-shadow: none;
    cursor: not-allowed;
    transition: none;
    pointer-events: none;
  }
}
